__pycache__/DataFrames_Apr23_NDevlin.cpython-310.pyc
.vscode/settings.json
__pycache__/DataFrames_Apr23_NDevlin.cpython-38.pyc
bs4/__pycache__/__init__.cpython-38.pyc
bs4/__pycache__/css.cpython-38.pyc
bs4/__pycache__/dammit.cpython-38.pyc
bs4/__pycache__/element.cpython-38.pyc
bs4/__pycache__/formatter.cpython-38.pyc
bs4/builder/__pycache__/__init__.cpython-38.pyc
bs4/builder/__pycache__/_html5lib.cpython-38.pyc
bs4/builder/__pycache__/_htmlparser.cpython-38.pyc
bs4/builder/__pycache__/_lxml.cpython-38.pyc
soupsieve/__pycache__/__init__.cpython-38.pyc
soupsieve/__pycache__/__meta__.cpython-38.pyc
soupsieve/__pycache__/css_match.cpython-38.pyc
soupsieve/__pycache__/css_parser.cpython-38.pyc
soupsieve/__pycache__/css_types.cpython-38.pyc
soupsieve/__pycache__/pretty.cpython-38.pyc
soupsieve/__pycache__/util.cpython-38.pyc
*.db
bs4/__pycache__/__init__.cpython-310.pyc
bs4/__pycache__/css.cpython-310.pyc
bs4/__pycache__/dammit.cpython-310.pyc
bs4/__pycache__/element.cpython-310.pyc
bs4/__pycache__/formatter.cpython-310.pyc
bs4/builder/__pycache__/__init__.cpython-310.pyc
bs4/builder/__pycache__/_html5lib.cpython-310.pyc
bs4/builder/__pycache__/_htmlparser.cpython-310.pyc
bs4/builder/__pycache__/_lxml.cpython-310.pyc
soupsieve/__pycache__/__init__.cpython-310.pyc
soupsieve/__pycache__/__meta__.cpython-310.pyc
soupsieve/__pycache__/css_match.cpython-310.pyc
soupsieve/__pycache__/css_parser.cpython-310.pyc
soupsieve/__pycache__/css_types.cpython-310.pyc
soupsieve/__pycache__/pretty.cpython-310.pyc
soupsieve/__pycache__/util.cpython-310.pyc
